::-webkit-scrollbar {
  width: 0.1px;
}
a{
cursor:pointer; 
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(224, 235, 235, 0.562);
}
